[project]
name = "hsmsim"
version = "0.1.0"
description = "nShield HSM Simulator"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]

[tool.uv]
package = true

[project.scripts]
setup-hsm = "setup_mock:setup"